<!DOCTYPE html>
<html lang="ja">
    <head>
        <meta charset="utf-8">
        <title>admin|home</title>
    </head>
    <body>
        <h1>在庫管理ページ</h1>
        <p><a href="zaiko/dbnew.ejs">新規登録</a></p>
        <p><a href="zaiko/dbarr.ejs">商品入荷</a></p>
        <p><a href="zaiko/dbedit.ejs">在庫編集</a></p>

    </body>
</html>