<!DOCTYPE html>
<html lang="ja">
    <head>
        <meta charset="utf-8">
        <title>Welcome to Nov mart!</title>
    </head>

    <body>
        <div id="main">
            <h1>WELCOME TO NOV.MART!</h1>
            <h2>ようこそ、ノヴェンバーマートへ</h2>    
        </div>
        <div id="bottom">
            <a href="" id="button">MENU</a>
        </div>
    </body>
</html>