<!DOCTYPE html>
<html lang="ja">
    <head>
        <meta charset="utf-8">
        <title>admin|edit</title>
    </head>
    <body>
        <h1>商品を編集</h1>
        <div class="input">
            <form id="call_item" action="#" method="post">
                <label>商品ID<input type="number" name="item_id"></label> 
                <label>商品名<input type="text" name="item_name"></label>
                <h3>変更内容</h3>
                <label>数量<input type="number" name="item_quantity"></label>
                <label>価格(円)<input type="number" name="item_yen"></label>
                <input type="submit" value="送信">
            </form>
        </div>
    </body>
</html>